<%- include('partials/top.ejs', {title, description}) %>

<h1><%- title %></h1>
<time datetime='<%- date.format("YYYY-MM-DD") %>'>
  <%- date.utcOffset(10).format("dddd, MMMM Do YYYY") %>  
</time>
<hr>
<%- contents %>

<% if (disqus && !isDev) { %>
  <h2>Comments</h2>
  <div id="disqus_thread"></div>

  <script>
    var disqus_config = function () {
      this.page.url = '<%- `${site.production_url}${path}` %>'; 
      this.page.identifier = '<%- path %>';
      this.page.title = '<%- title %>';
    };

    /*
    Replace this with your own Disqus embed snippet

    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//TODO.YOUR.DISQUS.EMBED.URL/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    */
  </script>
<% } %>

<%- include('partials/bottom.ejs') %>
